@import './variables.scss';

.digimon-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    background: $background-original;
    transition: background-image 0.5s ease-in-out;
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.5);

    .digimon-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 120px;
        margin-bottom: 20px;

        .imgfpr1 {
            width: 171px;
            height: 119px;
        }

        .imgfpr2 {
            display: none;
            width: 171px;
            height: 119px;
        }

    }

    .digimon-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 90%;
        margin-bottom: 20px;

        .digimon-card {
            display: flex;
            padding: 15px;
            text-align: center;
            transition: transform 0.3s ease;
            width: 100%;


            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                border-radius: 10%;

                &:hover {
                    transform: scale(1.05);
                }
            }


            .digimon-info {
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-top: 10px;
                margin-left: 10px;

                h3 {
                    color: $branco-cor;
                    margin: 10px 0 5px;
                    font-size: 16px;
                    font-weight: 400;
                }

                p {
                    color: $branco-cor;
                    font-size: 12px;
                    font-weight: 400;

                }
            }


        }
    }

    .pagination {

        .botaoVoltar {
            position: fixed;
            left: 0px;
            margin-left: 20px;
        }

        display: flex;
        gap: 10px;

        .pagination-controles{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: auto;
            margin-right: 20px;
            position: fixed;
            right: 0px;
        }

        button {
            background: $branco-cor;
            color: #000000;
            font-weight: 400;
            padding: 8px 16px;
            border-radius: 6px;
            cursor: pointer;
            transition: background 0.3s ease;
            

            &:hover {
                background: #0056b3;
            }

            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }
        }
    }
}