@import "./variables.scss";

.containerHome {
    // alterar esse background com os botoes de NavTemas
    font-family: $font-primary;
    background: $background-original;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    color: $cinza-cor;
    height: 100vh;
    width: 100%;
    display: flex;
}

.tema-esperanca {
    // .containerHome {
    //     background: $background-esperança;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $laranjaClaro-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            background-color: $laranjaClaro-cor;
        }

        .botoes .verTodos {
            background-color: $verdeClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {

        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .esperanca {
                background: $branco-cor;
                color: $esperanca;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }

        }

    }

}

.tema-sabedoria {
    // .containerHome {
    //     background: $background-sabedoria;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $laranjaClaro-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            background-color: $laranjaClaro-cor;
        }

        .botoes .verTodos {
            background-color: $verdeClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }

    }

    nav {
        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .sabedoria {
                background: $branco-cor;
                color: $sabedoria;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }

}

.tema-confianca {
    // .containerHome {
    //     background: $background-confianca;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $laranjaClaro-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            background-color: $laranjaClaro-cor;
        }

        .botoes .verTodos {
            background-color: $roxoClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {
        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .confianca {
                background: $branco-cor;
                color: $confianca;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }

}

.tema-coragem {
    // .containerHome {
    //     background: $background-coragem;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $amareloClaro-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            background-color: $amareloClaro-cor;
        }

        .botoes .verTodos {
            background-color: $amor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {

        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .coragem {
                background: $branco-cor;
                color: $coragem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}

.tema-amizade {
    // .containerHome {
    //     background: $background-amizade;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $amarelo-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            background-color: $amarelo-cor;
        }

        .botoes .verTodos {
            background-color: $azulClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {

        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .amizade {
                background: $branco-cor;
                color: $amizade;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}

.tema-luz {
    // .containerHome {
    //     background: $background-luz;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $amareloPiu-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            color: $cinza-cor;
            background-color: $amareloPiu-cor;
        }

        .botoes .verTodos {
            background-color: $roxoClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {
        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .luz {
                background: $branco-cor;
                color: $luz;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}

.tema-amor {
    // .containerHome {
    //     background: $background-amor;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $amareloPiu-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            color: $cinza-cor;
            background-color: $amareloPiu-cor;
        }

        .botoes .verTodos {
            background-color: $roxoClaro-cor;
        }

        .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {

        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .amor {
                background: $branco-cor;
                color: $amor;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}

.tema-sinceridade {
    // .containerHome {
    //     background: $background-sinceridade;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    .conteudoLateral {
        display: none; // Esconde a imagem lateral
    }

    .conteudoCentral {
        .img1 {
            display: none; // Esconde a imagem lateral
        }

        .img2 {
            display: block; // Exibe a imagem lateral
        }

        h1 {
            color: $amareloPiu-cor; // Ou outra cor do tema
        }

        h4,
        p {
            color: $branco-cor; // Ou outra cor do tema
        }

        .botoes .botaoPesquisa {
            color: $cinza-cor;
            background-color: $amareloPiu-cor;
        }

        .botoes .verTodos {
            background-color: $roxoClaro-cor;
        }
    .barraPesquisa {
            .iconePesquisa {
                color: $ciano-cor;
            }

            .inputPesquisa {
                border: 1px solid $ciano-cor;
            }
        }
    }

    nav {

        h2{
            color: $branco-cor;
        }
        .temas-opcoes {
            .sinceridade {
                background: $branco-cor;
                color: $sinceridade;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}

header {
    // topo da pagina com logo e botoes de troca de tema
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.logo {
    // logo canto superior esquerdo
    margin-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    color: $branco-cor;
    width: 70px;
    height: 70px;
    overflow: hidden;
    white-space: nowrap;

    img {
        width: 100%;
        height: 100%;
        border-radius: 30px;

    }
}

nav {
    // botoes de troca de tema 
    margin-right: 25px;
    margin-top: 5px;
    right: -0px;
    top: 10px;

    h2 {
        color: $laranja-cor;
        font-family: $font-primary;
        font-weight: 500px;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0px;
        margin-bottom: 5px;

    }

    .temas-opcoes {
        display: flex;
        list-style: none;
        gap: 8px;
        position: relative;
        padding: 10px;

        .tema {
            //dimensão do botao
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 40px;
            color: $branco-cor;
            width: 50px;
            height: 50px;
            overflow: hidden;
            white-space: nowrap;
            gap: 5px;

            &:hover {
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease;
            }
        }

        img {
            height: 30px;
            width: auto;
            margin-bottom: 10px;
            padding: 5px;
            position: absolute;
            object-fit: fill;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }

        }

        .esperanca {
            background: $esperanca;


            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $esperanca;
            }
        }

        .sabedoria {
            background: $sabedoria;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $sabedoria;
            }
        }

        .confianca {
            background: $confianca;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $confianca;
            }
        }

        .coragem {
            background: $coragem;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $coragem;
            }
        }

        .amizade {
            background: $amizade;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $amizade;
            }
        }

        .luz {
            background: $luz;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $luz;
            }
        }

        .amor {
            background: $amor;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $amor;
            }
        }

        .sinceridade {
            background: $sinceridade;

            &:hover {
                transition: background-color 0.3s ease, color 0.3s ease;
                background-color: $branco-cor;
                color: $sinceridade;
            }
        }

        span {
            // titulo dos botoes
            font-family: $font-primary;
            font-weight: 500px;
            font-size: 5px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            margin-top: 30px;
        }
    }
}

.principalContainer {
    // container principal com infos
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
    height: 100vh;

}

.conteudoCentral {
    // conteudo esquerda logo, textos etc
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 494px;
    max-height: 400px;
    position: absolute;
    left: 110px;


    .img1 {
        //logo fpr colorida

        margin-bottom: 35px;
        width: 271px;
        height: 399px;

    }

    .img2 {
        // logo fpr branca

        margin-bottom: 35px;
        width: 271px;
        height: 399px;
        display: none;


    }

    h1 {
        //alterar cor ao clicar botao de tema
        color: $laranja-cor;
        font-family: $font-primary;
        font-weight: 600px;
        font-size: 16px;
        line-height: 100%;
        text-align: left;
        margin-bottom: 3px;
    }

    h4 {
        //alterar cor ao clicar botao de tema
        color: $cinza-cor;
        font-family: $font-primary;
        font-weight: 500px;
        font-size: 44px;
        line-height: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    p {
        //alterar cor ao clicar botao de tema 
        color: $cinza-cor;
        font-family: $font-primary;
        font-weight: 400px;
        font-size: 15px;
        line-height: 120%;
        text-align: left;
        margin-bottom: 15px;
    }

    .barraPesquisa {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;

        .iconePesquisa {
            font-size: 20px;
            color: $verde-cor;
            position: absolute;
            right: 10px;
            cursor: pointer;
        }

        .inputPesquisa {
            left: 2px;
            font-size: 1rem;
            border: 1px solid $verde-cor;
            outline: none;
            border-radius: 4px;
            width: 100%;
            padding: 10px;
        }
    }

    .botoes {
        display: flex;
    }

    .botaoPesquisa,
    .verTodos {
        padding: 10px 15px;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .botoes {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 23px;


        .botaoPesquisa {
            //alterar cor ao clicar botao de tema
            background-color: $laranja-cor;
            color: $branco-cor;
            width: 226px;
            height: 43px;
            top: 846px;
            left: 180px;
            border-radius: 20px;


            &:hover {
                background-color: $laranja-cor;
            }
        }

        .verTodos {
            //alterar cor ao clicar botao de tema
            background-color: $verde-cor;
            color: $branco-cor;
            width: 166px;
            height: 43px;
            top: 846px;
            left: 509px;
            border-radius: 20px;


            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.conteudoLateral {
    // conteudo lateral direita com imagem
    width: 407px;
    height: 559px;
    position: absolute;
    left: 900px;
    top: 10px;

    img {
        // remover imagem ao clicar botao de tema
        width: 100%;
        height: 100%;
    }
}