@import "./variables.scss";


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 



}

.modal-content {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    height: 160px;
    width: 370px;

    .modal-x {

        display: flex;
        justify-content: flex-end;

        .modal-fechar {
            cursor: pointer;
        }
    }

    p {
        margin: 5px;
        font-weight: 600;
    }

    .modal-botoes {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
        gap: 10px;
        width: 100%;

        button {
            padding: 10px 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            ;
        }


        #btnN {
            background-color: #E3E3E3; 
            border: 1px solid #2C2C2C;
            color: #000000;
        }

        #btnS {
            background-color: #2C2C2C;
            border: 1px solid #2C2C2C;
            color: white;
        }
    }

}
@media (max-width: 480px) {
    .modal-content {
        width: 90%;
        height: auto;
        padding: 20px;

        p {
            font-size: 14px;
        }

        .modal-botoes {
            flex-direction: column;
            align-items: stretch;

            button {
                width: 100%;
                font-size: 14px;
            }
        }
    }
}
