//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
$font-primary: "Poppins", sans-serif;


// cores background
$background-color: #D6ECE0;

//cores para fonte

$laranja-cor: #F46D1B;
$cinza-cor: #666666;
$verde-cor: #34AC40;
$branco-cor: #fff;

//cores temas

$esperanca: #209441;
$sabedoria : #CB1E31;
$confianca : #7D4D8B;
$coragem : #0580BB;
$amizade : #E28C25;
$luz : #EA7EB2;
$amor : #62B8DB;
$sinceridade : #F282B0;


//temas

$coragem-background: url('https://i.postimg.cc/CxyvzJCd/96a36b08-1e51-43f1-8785-dc16420e082a-1.png');